.green {
    background: linear-gradient(213deg, #1c4729, #bedda9, #8fb4a2, #778868);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 88%
        }
        50% {
            background-position: 100% 13%
        }
        100% {
            background-position: 0% 88%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 88%
        }
        50% {
            background-position: 100% 13%
        }
        100% {
            background-position: 0% 88%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 88%
        }
        50% {
            background-position: 100% 13%
        }
        100% {
            background-position: 0% 88%
        }
    }
}