.white {
    background: linear-gradient(242deg, #d2f2ee, #eafdfa, #f6f9ec, #ecc5d1);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 61%
        }
        50% {
            background-position: 100% 40%
        }
        100% {
            background-position: 0% 61%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 61%
        }
        50% {
            background-position: 100% 40%
        }
        100% {
            background-position: 0% 61%
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 0% 61%
        }
        50% {
            background-position: 100% 40%
        }
        100% {
            background-position: 0% 61%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 61%
        }
        50% {
            background-position: 100% 40%
        }
        100% {
            background-position: 0% 61%
        }
    }
    color: #666;
    input[type="submit"],
    {
        background: #666;
        color: #fff;
        border: 3px solid #666;
        &:hover,
        {
            background: rgba(255, 255, 255, 0.01);
            color: #666;
        }
    }
    a {
        color: #666;
        border-bottom: 1px solid #999;
        border-top: 3px solid rgba(0, 0, 0, 0);
        &:hover,
        {
            background: rgba(255, 255, 255, 0.25);
            border: 3px solid #999;
        }
    }
}