.yellow {
    background: linear-gradient(36deg, #f0eeaf, #f7cd21, #e1b598, #e2c465, #fff9ae);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 22s ease infinite;
    -moz-animation: AnimationName 22s ease infinite;
    animation: AnimationName 22s ease infinite;
    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    color: #666;
    input[type="submit"],
    {
        background: #666;
        color: #fff;
        border: 3px solid #666;
        &:hover,
        {
            background: rgba(255, 255, 255, 0.01);
            color: #666;
        }
    }
    a {
        color: #666;
        border-bottom: 1px solid #999;
        border-top: 3px solid rgba(0, 0, 0, 0);
        &:hover,
        {
            background: rgba(255, 255, 255, 0.25);
            border: 3px solid #999;
        }
    }
}