@import "partials/setup";
@import "partials/red";
@import "partials/orange";
@import "partials/yellow";
@import "partials/green";
@import "partials/turquoise";
@import "partials/blue";
@import "partials/purple";
@import "partials/white";
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    background: #333;
    height: 100vh;
    color: white;
    text-align: center;
    font-weight: 100;
    text-shadow: 0px 0px 10px #fff;
    font-size: 20px;
}

@import "partials/gradiant_black";
h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 100;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    max-width: 30em;
    margin: 5px;
}

p.copyright {
    margin-top: 35px;
    font-size: 0.65em;
    background: none;
    a {
        padding: 0;
        background: none;
        border: none;
        text-decoration: underline;
    }
}

hr {
    background: white;
    width: 50px;
    margin: 20px;
    height: 1px;
    border: 0;
    box-shadow: 0 0 10px white;
}

fieldset {
    border: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
    p {
        text-align: center;
    }
}

.prompt {
    font-size: 20px;
    max-width: 20em;
}

.selection p {
    // font-size: 0.75em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 100%;
    margin-bottom: 50px;
}

ul {
    padding: 0;
    margin-top: 30px;
}

li {
    display: inline-block;
    font-size: 30px;
    position: relative;
    width: 75px;
    a {
        text-decoration: none;
        background: none;
        border: 0;
        padding: 0;
        margin: 15px;
        &:hover {
            border: 0;
            padding: 0;
            background: 0;
            color: rgba(225, 225, 225, 0);
            &:after {
                content: "share";
                weight: 300;
                color: white;
                font-size: 14px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translateX(50%) translateY(-50%);
                text-shadow: 0px 0px 5px #333;
            }
        }
    }
}

li.twitter {
    a {
        &:hover {
            &:after {
                content: "tweet";
            }
        }
    }
}

//buttons
input[type="submit"],
{
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    background: #fff;
    color: #333;
    transition: background-color 0.4s;
    border: 3px solid white;
    margin: 40px 20px 20px;
    font-size: 1em;
    text-decoration: none;
    &:hover,
    {
        background: rgba(255, 255, 255, 0.01);
        color: #fff;
    }
}

a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 50px;
    background: rgba(225, 225, 225, 0.25);
    border: 3px solid rgba(225, 225, 225, 0);
    border-radius: 2px;
    transition: border 0.4s;
    &:hover {
        background: rgba(255, 255, 255, 0.25);
        border: 3px solid white;
    }
}

//select elements
input[type="radio"] {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

label {
    margin: 0 auto;
    margin: 0;
    font-size: 30px;
    cursor: pointer;
}

.select {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 80%;
}

.current {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    body {
        font-weight: 300;
        font-size: 16px;
    }
    ul.share {
        margin: 20px 0 0;
    }
    li {
        margin: 10px;
        padding: 0 10px;
        width: 45px;
        a {
            margin: 0;
        }
    }
    a {
        margin-top: 20px;
    }
}

// @media (max-width: 375px) {
//     body {
//         font-weight: 300px;
//         font-size: 16px;
//     }
// }