@import "partials/setup";
body {
    padding: 100px 20%;
    font-family: 'Josefin Sans', sans-serif;
    background: #333;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0px 0px 10px #fff;
}

@import "partials/gradiant_black";
h1 {
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

fieldset {
    border: 0;
    text-align: center;
}