@import "partials/setup";
@import "partials/red";
@import "partials/orange";
@import "partials/green";
@import "partials/turquoise";
@import "partials/blue";
@import "partials/purple";
@import "partials/white";
body {
    padding: 100px 20%;
    font-family: 'Josefin Sans', sans-serif;
    background: #333;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 35px;
    text-shadow: 0px 0px 10px #fff;
    height: 100vh;
}

@import "partials/gradiant_black";
h1 {
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: block;
}

fieldset {
    border: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-align: center;
    p {
        font-size: .5em;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

input[type="submit"] {
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 2px;
    background: #fff;
    color: #333;
    transition: background-color 0.4s;
    border: 3px solid white;
    &:hover {
        background: rgba(255, 255, 255, 0.01);
        color: #fff;
    }
}

.select {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

label {
    margin: 0 auto;
    margin: 0;
}

section {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 80%;
}

.current {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}